/* BODY */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    background-color: #333;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

header container {
    display: flex;
    align-items: center;
}

header img {
    height: 120px;
    width: 150px;
}

header ol li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

header ol li a {
    color: #fff;
    text-decoration: none;
}

header ol li a:hover {
    color: #ccc;
}

/* DIV */

div {
    max-width: 1900px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}

div button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

div button:hover {
    background-color: #555;
}

/* FOOTER */

footer {
    position: sticky;
    bottom: -50vh;
    transition: all ease 1000ms;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer h3 {
    margin: 0;
}

footer ol {
    list-style: none;
    padding: 0;
}

footer ol li {
    display: inline;
    margin-right: 10px;
}

footer ol li a img {
    vertical-align: middle;
}

/* ID SELECTOR(#) */

#gifContainer {
    width: 360px;
    height: 360px;
    overflow: hidden;
}

#gifContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#muscleImageContainer {
    position: relative;
}

#muscleImage {
    display: block;
    max-width: 100%;
    height: auto;
}

#overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* CLASS SELECTOR (.) */

.area-overlay {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.5);
    /* Default to semi-transparent red */
    pointer-events: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    /* Adjust as needed */
    gap: 20px;
    /* Adds spacing between items */
}

/* Ensure individual divs do not exceed their intended max-width */
.grid-container>div {
    /* Makes sure divs adapt to the grid container */
}